
table {
    border: 1px solid #000;
    padding: 2px;
    border-collapse: collapse;



}

th {
    text-align: center;
    padding: 10px;
   border: 1px solid #000;


}

td {
    text-align: center;
    border: 1px solid #000;
    padding: 2px;
}

.plus {
  --t:2px;   /* Thickness */
  --l:30px;  /* size of the symbol */
  --s:10px;  /* space around the symbol */
  --c1:#fff; /* Plus color*/
  --c2:#000; /* background color*/

  display:inline-block;
  width:var(--l);
  height:var(--l);
  padding:var(--s);
  box-sizing:border-box; /*Remove this if you don't want space to be included in the size*/

  background:
    linear-gradient(var(--c1),var(--c1)) content-box,
    linear-gradient(var(--c1),var(--c1)) content-box,
    var(--c2);
  background-position:center;
  background-size: 100% var(--t),var(--t) 100%;
  background-repeat:no-repeat;
}

.radius {
  border-radius:50%;
}

.minus:before{content:"\f056"}

span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }

.button-red {
    display:inline-block;
    padding:0.4em 2em;
    border:0.12em solid #FF0000;
    background-color: #FFFFFF;
    margin:0 0.2em 0.2em 0;
    box-sizing: border-box;
    text-decoration:none;
    color:#FF0000;
    text-align:center;
    border-radius: 4px;
    cursor: pointer;
}
.button-red:hover {
   box-shadow: 0px 0px 0px 1px ;
}

.button {
  display:inline-block;
  padding:0.4em 2em;
  border:0.12em solid #000000;
  background-color: #FFFFFF;
  margin:0 0.2em 0.2em 0;
  box-sizing: border-box;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover{
  box-shadow: 0px 0px 0px 1px ;
}
.button:active{
color:#BBBBBB;
border-color:#BBBBBB;
}

.button-submit {
  display:inline-block;
  padding:0.4em 2em;
  border:0.16em solid #0096FF;
  background-color: #FFFFFF;
  margin:0 0.2em 0.2em 0;
  box-sizing: border-box;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-radius: 4px;
  cursor: pointer;
}
.button-submit:hover{
  box-shadow: 0px 0px 0px 2px #0047AB;
}

.runners-outline{
    text-align: center;
    display: inline-block;
    border:1px solid black;
    border-radius: 16px;
    width: 800px;
    margin: 0 auto;
    white-space: nowrap;

}

.runner-image:hover {
  transform: scale(3);
}

.pagination {
        float: right;
    padding: 10px 0px;


}

.pagination a {
  color: black;
  padding: 0px 0px;
  text-decoration: none;
}

.arrow {
  font-size: 25px;
  display: inline;
}

.table-and-paging {
    display: inline-block;
}







